<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngs.react">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application>
        <activity
            android:name=".RNTwilioVideo.IncomingVideoCallFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_incoming_call_fullscreen"
            android:theme="@style/Theme.Android.Fullscreen"></activity>
        <activity
                android:name=".RNTwilioVoice.IncomingVoiceCallFullscreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_incoming_call_fullscreen"
                android:theme="@style/Theme.Android.Fullscreen"></activity>
    </application>

</manifest>
